{% extends 'base.html' %}

{% block title %}
Mapped
{% endblock %}

{% block css_extra %}
{% endblock %}

{% block js_extra %}
<script src="js/d3.v3.min.js"></script>
<script src="js/topojson.v1.min.js"></script>
<script src="js/datamaps.world.min.js"></script>

<script>
	"use strict";
	var as = { {%- for country in stats %}{{country['country_name3']}}: { fillKey: '{{country['as_q']}}', count:{{country['as']|count}} },{% endfor %}}
	var bandwidth = { {%- for country in stats %} {{country['country_name3']}}: { fillKey: '{{country['bandwidth_q']}}', count:'{{country['bandwidth']/1000000}} MBps' },{% endfor %} }
	var counts = { {%- for country in stats %} {{country['country_name3']}}: { fillKey: '{{country['count_q']}}', count:{{country['count']}} },{% endfor %} }
	var exit = { {%- for country in stats %} {{country['country_name3']}}: { fillKey: '{{country['exit_q']}}', count:'{{country['exit_probability']}} %' },{% endfor %} }
	var weight = { {%- for country in stats %} {{country['country_name3']}}: { fillKey: '{{country['weight_q']}}', count:{{country['weight']}} },{% endfor %} }


	var colors = ['rgb(255,247,236)','rgb(254,232,200)','rgb(253,212,158)','rgb(253,187,132)','rgb(252,141,89)','rgb(239,101,72)','rgb(215,48,31)','rgb(179,0,0)','rgb(127,0,0)'];

	var map = new Datamap({
		scope: 'world',
		element: document.getElementById('map-container'),
		projection: 'equirectangular',
		responsive: true,
		//height: '800',
		//width: '800',
		geographyConfig: {
			hideAntarctica: true, /* sorry */
			popupTemplate: function(geography, data) {
				return '<div class="hoverinfo"> <b>' + geography.properties.name + '</b>: ' + data.count + ' </div>';
			},
		},
		fills: {
			/* these two should stay the same. */
			defaultFill: 'Gainsboro', None: 'Gainsboro',
			Q0:  colors[0],
			Q1:  colors[1],
			Q2:  colors[2],
			Q3:  colors[3],
			Q4:  colors[4],
			Q5:  colors[5],
			Q6:  colors[5],
			Q7:  colors[6],
			Q8:  colors[7],
			Q9:  colors[8],
			Q10: colors[9],
		},

		data: {},
	})
	window.addEventListener('resize', function() {
		/* Need to wait for DataMaps 0.3.5 for this. https://github.com/markmarkoh/datamaps/commit/014f4f65f992216e36d48f3ce297f65a9b6679c9 */
		map.resize();
	});
	function updateMap(data, map_title) {
		document.getElementById('map-title').innerHTML = map_title;
		map.updateChoropleth(data);
	}
	map.legend();
	updateMap(counts, 'Unique Relays');
</script>
{% endblock %}

{% block content %}
<div id="map-container">
</div>

<br>
<br>

<!-- Awesome mapping advice: <http://www.gsd.harvard.edu/gis/manual/normalize/> -->
<!-- Awesome map coloring advice <http://colorbrewer2.org/> -->

<button onclick="updateMap(as,     'Unique ASs')">ASs</button>
<button onclick="updateMap(bandwidth, 'Bandwidth')">bandwidth</button>
<button onclick="updateMap(counts, 'Unique Relays')">count</button>
<button onclick="updateMap(exit,   'Exit Percent Probability')">exit</button>
<button onclick="updateMap(weight, 'Consensus Weight')">weight</button>

<h2><span id="map-title"></span> Per Country</h2>
<div id="explanation">
	<p>
	This map shows quantitative data on how distributed the Tor network is.
	If you hover over a country, you can see the quantity of the selected data point.
	The darker green the country is, the higher of the respective count it has.
	Gray countries contain <em>no</em> nodes in that category..
	</p>

	<p>
	This data is <em>not</em> normalized to the surface area of the countries.
	Normally in mapping this would be a bad idea, because it could mis-represent data.
	For these maps the goal is to demonstrate how many Tor relays are in different government regions.
	So to normalize by area of the country would misrepresent the data.
	Each incremental step of data (Q0-Q9) represent data bucketed between zero and the maximum of that respective value.
	</p>

	<p>
	Currently Intergovernmental agencies and IPs which do not match to a country in GeoIP are not shown.
	They can be found in the <a href="tabulated.html">raw data</a>.
	</p>

	<p>
	If you see a country under-represented, why not consider running a relay?
	It's fun, easy, and a great way to help privacy and anonymity on the Internet.
	More on running a relay can be found <a href="https://www.torproject.org/docs/tor-relay-debian.html.en">here</a>
	Many people choose to run relays on a VPS, some providers can be found <a href="https://www.exoticvps.com/">here</a>.
	</p>

	<p>
	This data was sourced from <a href="https://onionoo.torproject.org">The Tor Project's Onionoo</a>.
	Onionoo collects data from the Tor network consensus and makes it easily retrievable.
	The raw data used to generate this map <a href="tabulated.html">can be found here</a>.
	<!--Additionally, the aggregated data an be found in json form here.-->
	This map is free and open source software, if you find issues or have improvements let the authors know!
	</p>
</div>

{% endblock %}

